// Place all the styles related to the Mockup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  height: 100px;
  background-image: image-url('background.jpg');
  background-size: cover;
  padding: 100px;
  h1 {
    margin: 0px;
    color: white;
    font-family: arial;
    list-style-type: none;
    font-weight: bold;
  }
}


body {
  #logo {
    padding-top: 18px;
    float: left;
    padding-left: 20px;
  }
  nav {
    a {
      text-decoration: none;
      font-weight: bold;
    }
    ul { display: inline-block;
      li {
         display: inline-block;
      }
    }
  }
}




#pricing {
  display:     flex;
  text-align:  center;
  font-family: arial;
  font-size:   10px;

}

.price {
   font-size: 48px;
}

#text_boxes {
  columns: 2;
}

#pricing { margin: 10px;
  .pricing_headers {
    color: white;
    padding: 10px;
    margin:    0;
    h3 {
        margin: 5px;
    }
  }
  ul {
      list-style-type: none;
  }
}

#personal {
  margin: 10px;
  .pricing_headers {
    background-color: green;
  }
}

#small_business {
  margin: 10px;
  .pricing_headers {
    background-color: blue;
  }
}

#enterprise {
  margin: 10px;
  .pricing_headers {
    background-color: black;
  }
}


footer {
  background-color: black;
  li {
    text-align: center;
    color: white;
    font-family: arial;
    font-weight: normal;
    list-style-type: none;
    a {color: white;
       font-weight: bolder;}
  }

}
